<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>Two Menu Style - Ace Admin</title>

    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="/stylesheets/Ace_template_css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/stylesheets/Ace_template_css/font-awesome.min.css"/>

    <!-- page specific plugin styles -->
    <link rel="stylesheet" href="/stylesheets/Ace_template_css/jquery-ui.min.css"/>
    <link rel="stylesheet" href="/stylesheets/Ace_template_css/bootstrap-datepicker3.min.css"/>
    <link rel="stylesheet" href="/stylesheets/Ace_template_css/ui.jqgrid.min.css"/>
    <link rel="stylesheet" href="/stylesheets/Ace_template_css/bootstrap-duallistbox.min.css"/>
    <link rel="stylesheet" href="/stylesheets/Ace_template_css/bootstrap-multiselect.min.css"/>
    <link rel="stylesheet" href="/stylesheets/Ace_template_css/select2.min.css"/>

    <!-- text fonts -->
    <link rel="stylesheet" href="/stylesheets/Ace_template_css/fonts.googleapis.com.css"/>

    <!-- ace styles -->
    <link rel="stylesheet" href="/stylesheets/Ace_template_css/ace.min.css" class="ace-main-stylesheet"
          id="main-ace-style"/>

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="/stylesheets/Ace_template_css/ace-part2.min.css" class="ace-main-stylesheet"/>
    <![endif]-->
    <link rel="stylesheet" href="/stylesheets/Ace_template_css/ace-skins.min.css"/>
    <link rel="stylesheet" href="/stylesheets/Ace_template_css/ace-rtl.min.css"/>

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="/stylesheets/Ace_template_css/ace-ie.min.css"/>
    <![endif]-->

    <!-- inline styles related to this page -->

    <!-- ace settings handler -->
    <script src="/javascripts/Ace_template_js/ace-extra.min.js"></script>

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

    <!--[if lte IE 8]>
    <script src="/javascripts/Ace_template_js/html5shiv.min.js"></script>
    <script src="/javascripts/Ace_template_js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="no-skin">
<% include ../includes/admin-topNav.html %>

<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.loadState('main-container')
        } catch (e) {
        }
    </script>

    <div id="sidebar" class="sidebar      h-sidebar                navbar-collapse collapse          ace-save-state">
        <script type="text/javascript">
            try {
                ace.settings.loadState('sidebar')
            } catch (e) {
            }
        </script>

        <div class="sidebar-shortcuts" id="sidebar-shortcuts">
            <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                <button class="btn btn-success">
                    <i class="ace-icon fa fa-signal"></i>
                </button>

                <button class="btn btn-info">
                    <i class="ace-icon fa fa-pencil"></i>
                </button>

                <button class="btn btn-warning">
                    <i class="ace-icon fa fa-users"></i>
                </button>

                <button class="btn btn-danger">
                    <i class="ace-icon fa fa-cogs"></i>
                </button>
            </div>

            <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                <span class="btn btn-success"></span>

                <span class="btn btn-info"></span>

                <span class="btn btn-warning"></span>

                <span class="btn btn-danger"></span>
            </div>
        </div><!-- /.sidebar-shortcuts -->

        <ul class="nav nav-list">
            <li class="hover">
                <a href="/admin">
                    <i class="menu-icon fa fa-tachometer"></i>
                    <span class="menu-text"> 管理首页 </span>
                </a>
                <b class="arrow"></b>
            </li>

            <li class="hover">
                <a href="/admin/user">
                    <i class="menu-icon fa fa-users"></i>
                    <span class="menu-text"> 用户管理 </span>
                </a>
                <b class="arrow"></b>
            </li>

            <li class="active open hover">
                <a href="/admin/role">
                    <i class="menu-icon fa fa-tag"></i>


                    <span class="menu-text"> 角色管理 </span>
                </a>
                <b class="arrow"></b>
            </li>

            <li class="hover">
                <a href="/admin/log/login/">
                    <i class="menu-icon fa fa-file-text-o"></i>
                    <span class="menu-text"> 操作日志 </span>
                </a>
                <b class="arrow"></b>
            </li>

        </ul><!-- /.nav-list -->
    </div>

    <div class="main-content">
        <div class="main-content-inner">
            <div class="page-content">
                <% include ../includes/ace-settings-container.html %>

                <div class="page-header">
                    <h1>添加角色 </h1>
                </div><!-- /.page-header -->

                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="invisible">
                            <div id="sidebar2" class="sidebar responsive menu-min ace-save-state">
                                <ul class="nav nav-list">

                                    <li class="open">
                                        <a href="#" class="dropdown-toggle">
                                            <i class="menu-icon fa fa-users"></i>
                                                <span class="menu-text">
                                                    用户管理
                                                </span>

                                            <b class="arrow fa fa-angle-down"></b>
                                        </a>

                                        <b class="arrow"></b>

                                        <ul class="submenu nav-show" style="display: block;">
                                            <li class="">
                                                <a href="/admin/role">
                                                    <i class="menu-icon fa fa-caret-right"></i>
                                                    角色列表
                                                </a>

                                                <b class="arrow"></b>
                                            </li>
                                            <li class="">
                                                <a href="/admin/user/addRole">
                                                    <i class="menu-icon fa fa-caret-right"></i>
                                                    添加角色
                                                </a>

                                                <b class="arrow"></b>
                                            </li>
                                        </ul>
                                    </li>

                                </ul><!-- /.nav-list -->

                                <div class="sidebar-toggle sidebar-collapse">
                                    <i id="sidebar3-toggle-icon"
                                       class="ace-icon fa fa-angle-double-right ace-save-state"
                                       data-icon1="ace-icon fa fa-angle-double-left"
                                       data-icon2="ace-icon fa fa-angle-double-right"></i>
                                </div>
                            </div><!-- .sidebar -->
                        </div>
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->

                <div class="row">
                    <div class="col-xs-12">

                        <form class="form-horizontal" role="form" id="signupForm">

                            <h3 class="lighter block orange">基本信息</h3>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="ipt_name">
                                    角色名称 </label>

                                <div class="col-sm-9">
                                    <input type="email" id="ipt_name" name="name"
                                           placeholder="请输入角色名称"
                                           class="col-xs-12 col-sm-5">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right"
                                       for="ipt_description">
                                    描述 </label>

                                <div class="col-sm-9">
                                    <textarea id="ipt_description" rows="2" class="col-xs-12 col-sm-5" maxlength="100"
                                              placeholder="描述..."></textarea>
                                </div>
                            </div>

                            <div class="hr hr-18 dotted hr-double"></div>

                            <h3 class="lighter block orange">选择权限</h3>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-top" for="duallist"> 设置权限 </label>

                                <div class="col-sm-8">
                                    <select multiple="multiple" size="10" name="duallistbox_roles[]" id="duallist">
                                        <option value="option1">Option 1</option>
                                        <option value="option2">Option 2</option>
                                        <option value="option3" selected="selected">Option 3</option>
                                        <option value="option4">Option 4</option>
                                        <option value="option5">Option 5</option>
                                        <option value="option6" selected="selected">Option 6</option>
                                        <option value="option7">Option 7</option>
                                        <option value="option8">Option 8</option>
                                        <option value="option9">Option 9</option>
                                        <option value="option0">Option 10</option>
                                    </select>

                                    <div class="hr hr-16 hr-dotted"></div>
                                </div>
                            </div>

                            <div class="clearfix form-actions">
                                <div class="col-md-offset-3 col-md-9">
                                    <button class="btn btn-sm btn-success" type="submit">
                                        <i class="ace-icon fa fa-check bigger-110"></i>
                                        添加
                                    </button>

                                    &nbsp; &nbsp; &nbsp;
                                    <button class="btn btn-sm" type="reset" id="signupReset">
                                        <i class="ace-icon fa fa-undo bigger-110"></i>
                                        重置
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

    <% include ../includes/footer.html %>

    <!-- 注册提示信息模态框 -->
    <div class="modal fade" id="formInfoBox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">提示信息</h4>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </div>

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->

<!-- basic scripts -->

<!--[if !IE]> -->
<script src="/javascripts/Ace_template_js/jquery-2.1.4.min.js"></script>

<!-- <![endif]-->

<!--[if IE]>
<script src="/javascripts/Ace_template_js/jquery-1.11.3.min.js"></script>
<![endif]-->
<script type="text/javascript">
    if ('ontouchstart' in document.documentElement) document.write("<script src='/javascripts/Ace_template_js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
</script>
<script src="/javascripts/Ace_template_js/bootstrap.min.js"></script>

<!-- page specific plugin scripts -->
<script src="/bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/bower_components/jquery-validation/dist/localization/messages_zh.js"></script>
<script src="/javascripts/Ace_template_js/jquery.bootstrap-duallistbox.min.js"></script>
<script src="/javascripts/Ace_template_js/jquery.raty.min.js"></script>
<script src="/javascripts/Ace_template_js/bootstrap-multiselect.min.js"></script>
<script src="/javascripts/Ace_template_js/select2.min.js"></script>
<script src="/javascripts/Ace_template_js/jquery-typeahead.js"></script>

<!-- ace scripts -->
<script src="/javascripts/Ace_template_js/ace-elements.min.js"></script>
<script src="/javascripts/Ace_template_js/ace.min.js"></script>

<!-- inline scripts related to this page -->
<script type="text/javascript">
    jQuery(function ($) {
        $('#sidebar2').insertBefore('.page-content');
        $('#navbar').addClass('h-navbar');
        $('.footer').insertAfter('.page-content');

        $('.page-content').addClass('main-content');

        $('.menu-toggler[data-target="#sidebar2"]').insertBefore('.navbar-brand');


        $(document).on('settings.ace.two_menu', function (e, event_name, event_val) {
            if (event_name == 'sidebar_fixed') {
                if ($('#sidebar').hasClass('sidebar-fixed')) $('#sidebar2').addClass('sidebar-fixed')
                else $('#sidebar2').removeClass('sidebar-fixed')
            }
        }).triggerHandler('settings.ace.two_menu', ['sidebar_fixed', $('#sidebar').hasClass('sidebar-fixed')]);

        $('#sidebar2[data-sidebar-hover=true]').ace_sidebar_hover('reset');
        $('#sidebar2[data-sidebar-scroll=true]').ace_sidebar_scroll('reset', true);
    })

</script>

<script>
    jQuery(function ($) {
        var demo1 = $('select[name="duallistbox_roles[]"]').bootstrapDualListbox(
                {
                    filterPlaceHolder: '搜索..',
                    filterTextClear: '显示全部',
                    infoText: '共 {0}',
                    infoTextFiltered: '<span class="label label-purple label-lg">搜索条件启用</span>',
                    nonSelectedListLabel: '允许配置的权限：',
                    selectedListLabel: '账号已有的权限：',
                    infoTextEmpty: '列表已空...'
                }
        );
        var container1 = demo1.bootstrapDualListbox('getContainer');
        container1.find('.btn').addClass('btn-white btn-info btn-bold');
    });
</script>

</body>
</html>
