<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title><%= title %></title>

    <meta name="description" content="map page"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="/stylesheets/Ace_template_css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/stylesheets/Ace_template_css/font-awesome.min.css"/>

    <!-- page specific plugin styles -->
    <link rel="stylesheet" href="/bower_components/leafletjs/dist/leaflet.css"/>
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/bower_components/leafletjs/dist/leaflet-ie.css"/>
    <link rel="stylesheet" href="/bower_components/leafletjs/dist/locate-ie.css"/>
    <![endif]-->
    <link rel="stylesheet" href="/bower_components/leafletjs/dist/mobile.css"/>
    <link rel="stylesheet" href="/bower_components/leafletjs/dist/locate.css"/>

    <!-- text fonts -->
    <link rel="stylesheet" href="/stylesheets/Ace_template_css/fonts.googleapis.com.css"/>

    <!-- ace styles -->
    <link rel="stylesheet" href="/stylesheets/Ace_template_css/ace.min.css" class="ace-main-stylesheet"
          id="main-ace-style"/>

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="/stylesheets/Ace_template_css/ace-part2.min.css" class="ace-main-stylesheet"/>
    <![endif]-->
    <link rel="stylesheet" href="/stylesheets/Ace_template_css/ace-skins.min.css"/>
    <link rel="stylesheet" href="/stylesheets/Ace_template_css/ace-rtl.min.css"/>

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="/stylesheets/Ace_template_css/ace-ie.min.css"/>
    <![endif]-->

    <!-- inline styles related to this page -->
    <link rel="stylesheet" href="/stylesheets/customs/pages/index/index.css"/>
    <link rel="stylesheet" href="/stylesheets/customs/pages/application/map.css"/>

    <!-- baiduMap -->
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=SP7OgvYKT1ckrBIKLlvD4pB2"></script>

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

    <!--[if lte IE 8]>
    <script src="/javascripts/Ace_template_js/html5shiv.min.js"></script>
    <script src="/javascripts/Ace_template_js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="skin-hn">
<% include ../includes/topNav.html %>


<div id="map" class="m-hunanMap"></div>

<div class="m-siteInfoWindow map">
    <div class="widget-box" id="widget-box-9">
        <div class="widget-header">
            <h5 class="widget-title">站点详细信息</h5>

            <div class="widget-toolbar">
                <a href="#" data-action="collapse">
                    <i class="1 ace-icon fa fa-chevron-up bigger-125"></i>
                </a>
            </div>
        </div>

        <div class="widget-body">
            <div class="widget-main">
               站点详细参数
            </div>
        </div>
    </div>
</div>

<div class="m-ctrlBox">
    <div class="widget-box">
        <div class="widget-header">
            <h4 class="widget-title">地图控制</h4>


            <div class="widget-toolbar">
                <a href="#" data-action="collapse">
                    <i class="ace-icon fa fa-chevron-up"></i>
                </a>
            </div>
        </div>

        <div class="widget-body">
            <div class="widget-main">
                <div class="control-group">
                    <div class="checkbox">
                        <label class="block">
                            <input name="form-field-checkbox" type="checkbox" class="ace input-lg">
                            <span class="lbl bigger-120"> 全部</span>
                        </label>
                    </div>

                    <div class="checkbox">
                        <label class="block">
                            <input name="form-field-checkbox" type="checkbox" class="ace input-lg">
                            <span class="lbl bigger-120"> 项目1</span>
                        </label>
                    </div>

                    <div class="checkbox">
                        <label class="block">
                            <input name="form-field-checkbox" type="checkbox" class="ace input-lg">
                            <span class="lbl bigger-120"> 项目2</span>
                        </label>
                    </div>

                    <div class="checkbox">
                        <label class="block">
                            <input name="form-field-checkbox" type="checkbox" class="ace input-lg">
                            <span class="lbl bigger-120"> 项目3</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="m-deviceInfoBox">
    <h3><i class="fa fa-arrow-down" aria-hidden="true"></i><strong>4648-3</strong> 站点详细设备列表</h3>

    <ul class="list-inline clearfix">
        <li class="col-sm-2">
            <div class="widget-box" >
                <div class="widget-header">
                    <h5 class="widget-title smaller">XXXX设备</h5>

                    <div class="widget-toolbar">
                        <span class="badge badge-danger">设备异常</span>
                    </div>
                </div>

                <div class="widget-body">
                    <div class="widget-main padding-6">
                        <div class="alert alert-info"> 设备参数 </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="col-sm-2">
            <div class="widget-box" >
                <div class="widget-header">
                    <h5 class="widget-title smaller">XXXX设备</h5>

                    <div class="widget-toolbar">
                        <span class="badge badge-danger">设备异常</span>
                    </div>
                </div>

                <div class="widget-body">
                    <div class="widget-main padding-6">
                        <div class="alert alert-info"> 设备参数 </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="col-sm-2">
            <div class="widget-box" >
                <div class="widget-header">
                    <h5 class="widget-title smaller">XXXX设备</h5>

                    <div class="widget-toolbar">
                        <span class="badge badge-danger">设备异常</span>
                    </div>
                </div>

                <div class="widget-body">
                    <div class="widget-main padding-6">
                        <div class="alert alert-info"> 设备参数 </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="col-sm-2">
            <div class="widget-box" >
                <div class="widget-header">
                    <h5 class="widget-title smaller">XXXX设备</h5>

                    <div class="widget-toolbar">
                        <span class="badge badge-danger">设备异常</span>
                    </div>
                </div>

                <div class="widget-body">
                    <div class="widget-main padding-6">
                        <div class="alert alert-info"> 设备参数 </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="col-sm-2">
            <div class="widget-box" >
                <div class="widget-header">
                    <h5 class="widget-title smaller">XXXX设备</h5>

                    <div class="widget-toolbar">
                        <span class="badge badge-danger">设备异常</span>
                    </div>
                </div>

                <div class="widget-body">
                    <div class="widget-main padding-6">
                        <div class="alert alert-info"> 设备参数 </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="col-sm-2">
            <div class="widget-box" >
                <div class="widget-header">
                    <h5 class="widget-title smaller">XXXX设备</h5>

                    <div class="widget-toolbar">
                        <span class="badge badge-success">设备正常</span>
                    </div>
                </div>

                <div class="widget-body">
                    <div class="widget-main padding-6">
                        <div class="alert alert-info"> 设备参数 </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="navbar-fixed-bottom" role="navigation">
    <div> Copyright © 2016 - 2017 All Rights Reserved Powered by 智和云</div>
</div>

<!-- basic scripts -->

<!--[if !IE]> -->
<script src="/javascripts/Ace_template_js/jquery-2.1.4.min.js"></script>
<!-- <![endif]-->

<!--[if IE]>
<script src="/javascripts/Ace_template_js/jquery-1.11.3.min.js"></script>
<![endif]-->
<script type="text/javascript">
    if ('ontouchstart' in document.documentElement) document.write("<script src='/javascripts/Ace_template_js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
</script>
<script src="/javascripts/Ace_template_js/bootstrap.min.js"></script>

<!-- page specific plugin scripts -->
<script src="/javascripts/Ace_template_js/jquery-ui.custom.min.js"></script>
<script src="/javascripts/Ace_template_js/jquery.ui.touch-punch.min.js"></script>

<!-- ace scripts -->
<script src="/javascripts/Ace_template_js/ace-elements.min.js"></script>
<script src="/javascripts/Ace_template_js/ace.min.js"></script>

<!-- inline scripts related to this page -->
<script src="/javascripts/customs/pages/application/baiduMap.js"></script>
<script type="application/javascript">
    $(".m-deviceInfoBox>h3").click(function(){
         var listInline = $(".m-deviceInfoBox");
        var flag = listInline.css("bottom");
        if(flag==="0px"){
            closeListinline(listInline);
        }
        else{
            openListinline(listInline);
        }
    });
        function openListinline(e){
            var _i =$(".m-deviceInfoBox>h3>i");
            _i.removeClass("fa-arrow-up");
            _i.addClass("fa-arrow-down");
            e.animate({"bottom":"0"},400)
        }
    function closeListinline(e){
        var _i =$(".m-deviceInfoBox>h3>i");
        _i.removeClass("fa-arrow-down");
        _i.addClass("fa-arrow-up");
        e.animate({"bottom":"-175"},400)
    }
</script>

</body>
</html>