.audioPlayerBox-container{
    display: block;
    position: fixed;
    top: 250px;
    right: 0;
    z-index: 999;
}
.audioPlayerBox-container.open{
    right: 41px;
}
.audioPlayerBox-container.open .btn.btn-app.ace-settings-btn{
    opacity: 1;
}


.audioPlayerBox-box{
    display: none;
    position: relative;
    left: 42px;
    border: 2px solid #428BCA;
    z-index: 999;
}