.outWarp{position: relative;width: 132px;height: 651px;background: #000 url("../../../../images/customs/index/meter.png") no-repeat;margin: 0 auto;z-index: 999}
.meter{position: absolute;bottom: 30px;left: 15px;width: 95px;height: 545px;}
.form-actions .btn{display: block;margin: 0 auto;}